<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obter mais informações sobre como configurar o aplicativo ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  
  Data Source=SQL5014.myASP.NET;Initial Catalog=DB_9D5F81_BDDentalWhite;User Id=DB_9D5F81_BDDentalWhite_admin;Password=123456789
  -->

<configuration>
    <connectionStrings>
      
        <add name="DBDentalWhite" connectionString="Data Source=SQL5004.myASP.NET;Initial Catalog=DB_9D5F81_BDDentalWhite;User Id=DB_9D5F81_BDDentalWhite_admin;Password=123456789"/>
    </connectionStrings>
    <system.web>
      <authentication mode="Forms">
          <forms loginUrl="/Pages/AreaRestrita/Default.aspx" />
      </authentication>
      <compilation debug="true" targetFramework="4.0" />
      <pages buffer="true">
          <controls>
              <add src="~/WUC/WUCBemVindo.ascx" tagName="WUCBemVindo" tagPrefix="uc1"/>
          </controls>
      </pages>
    </system.web>

</configuration>
