<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obter mais informações sobre como configurar o aplicativo ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
      <add name="DBDentalWhite" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\Alexandre\documents\visual studio 2013\Projects\Dental White\Dental White.UI\App_Data\DBDentalWhite.mdf;Integrated Security=True"/>
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
